@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  outline: 1; }

.wrap::after {
  content: "";
  display: block;
  clear: both; }

.wrap > article:last-child {
  margin-right: 0px !important; }

#header {
  width: 100%;
  border-bottom: 1px solid #ddd; }
  #header .inner {
    width: 1180px;
    height: 100px;
    margin: 0px auto;
    position: relative; }
    #header .inner h1 {
      position: absolute;
      left: 0px;
      bottom: 15px; }
      #header .inner h1 a {
        font: bold 22px/1 "arial";
        color: #444; }
    #header .inner #gnb {
      position: absolute;
      bottom: 0px;
      right: 0px; }
      #header .inner #gnb li {
        float: left; }
        #header .inner #gnb li a {
          display: block;
          width: 150px;
          height: 50px;
          font: bold 14px/50px "arial";
          color: #555;
          text-align: center;
          transition: .5s; }
          #header .inner #gnb li a:hover {
            background: #555;
            color: #fff; }

#visual {
  width: 100%;
  height: calc(100vh - 100px);
  background: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10vw; }

#content {
  padding: 150px 0px; }
  #content .inner {
    width: 1180px;
    margin: 0px auto; }
    #content .inner h1 {
      font: bold 20px/1 "arial";
      color: #555;
      margin-bottom: 30px;
      text-align: center; }
    #content .inner .wrap article {
      width: 280px;
      float: left;
      margin-right: 20px; }
      #content .inner .wrap article .pic {
        width: 100%;
        height: 150px;
        background: #555;
        margin-bottom: 15px; }
      #content .inner .wrap article h2 {
        font: bold 15px/1 "arial";
        color: #666;
        margin-bottom: 10px; }
      #content .inner .wrap article p {
        font: 12px/1.2 "arial";
        color: #777; }

#footer {
  width: 100%;
  padding: 100px 0px;
  border-top: 1px solid #bbb; }
  #footer .inner {
    width: 1180px;
    margin: 0px auto;
    text-align: center;
    font: 12px/1 "arial";
    color: #888;
    letter-spacing: 1px; }

#header_sub {
  width: 100%; }
  #header_sub .inner {
    width: 1180px;
    height: 100px;
    margin: 0px auto;
    position: relative; }
    #header_sub .inner h1 {
      position: absolute;
      left: 0px;
      bottom: 30px; }
      #header_sub .inner h1 a {
        font: 24px/1 'Heebo';
        color: #111; }
    #header_sub .inner #gnb {
      position: absolute;
      bottom: 45%;
      left: 30%; }
      #header_sub .inner #gnb::after {
        content: '';
        display: block;
        clear: both; }
      #header_sub .inner #gnb li {
        float: left; }
        #header_sub .inner #gnb li a {
          display: block;
          font: 15px/1.6px 'Heebo';
          color: #111;
          font-weight: 700;
          letter-spacing: -0.5px;
          margin-right: 40px;
          text-align: center;
          transition: .5s; }
    #header_sub .inner .util {
      position: absolute;
      top: 40%;
      right: 0%; }
      #header_sub .inner .util::after {
        content: '';
        display: block;
        clear: both; }
      #header_sub .inner .util li {
        float: left;
        margin-left: 30px; }
        #header_sub .inner .util li a {
          display: block; }
          #header_sub .inner .util li a:last-child {
            font: 14px/1px 'Heebo';
            color: #111; }
          #header_sub .inner .util li a i {
            font-size: 18px;
            color: #111; }
        #header_sub .inner .util li .serch {
          width: 160px;
          border-bottom: 1px solid #111; }
          #header_sub .inner .util li .serch input {
            width: 130px;
            font-size: 16px;
            padding: 5px;
            border: none;
            vertical-align: top;
            margin-left: 0; }
          #header_sub .inner .util li .serch a {
            display: inline-block; }

.content {
  width: 100%; }
  .content .sub_visual {
    width: 100%;
    height: 250px;
    background: gray;
    margin-bottom: 100px; }
  .content .inner {
    width: 1180px;
    min-height: 500px;
    margin: 0px auto 100px;
    border: 1px solid #ddd; }

#footer_sub {
  width: 100%;
  height: 300px;
  padding: 50px 0px;
  background: #111; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer_sub .inner h1 {
      position: absolute;
      bottom: -100px;
      left: 0;
      font: 24px/1 "Heebo";
      font-weight: 500;
      color: #fff; }
    #footer_sub .inner p {
      position: absolute;
      bottom: -125px;
      left: 0;
      font: 13px/1.2 "arial";
      color: #999; }
    #footer_sub .inner .wrap {
      width: 100%;
      padding-bottom: 30px;
      border-bottom: 1px solid #444; }
      #footer_sub .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .inner .wrap #txt {
        width: 50%;
        float: left; }
        #footer_sub .inner .wrap #txt::after {
          content: '';
          display: block;
          clear: both; }
        #footer_sub .inner .wrap #txt li {
          float: left;
          padding: 0 20px;
          border-right: 1px solid #555; }
          #footer_sub .inner .wrap #txt li:nth-of-type(1) {
            padding-left: 0; }
          #footer_sub .inner .wrap #txt li:nth-of-type(4) {
            border: none; }
          #footer_sub .inner .wrap #txt li a {
            font: 14px/1 "Heebo";
            color: #fff; }
      #footer_sub .inner .wrap #icon {
        width: 50%;
        float: right; }
        #footer_sub .inner .wrap #icon::after {
          content: '';
          display: block;
          clear: both; }
        #footer_sub .inner .wrap #icon li {
          float: right;
          margin-left: 20px; }
          #footer_sub .inner .wrap #icon li a {
            font-size: 20px;
            color: #fff; }
    #footer_sub .inner #site {
      display: block;
      width: 230px;
      height: 30px;
      position: absolute;
      bottom: -125px;
      right: 0;
      font: 13px/1 "Heebo";
      color: #fff;
      border-bottom: 1px solid #fff; }

.join .sub_visual {
  background: pink; }

/*# sourceMappingURL=style.css.map */
