* {
    margin: 0px; padding: 0px;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    outline: 1;
}
.wrap::after {
    content: "";
    display: block;
    clear: both;
}
.wrap>article:last-child {
    margin-right: 0px!important;
}