#header_sub {
    width: 100%; 

    .inner {
        width: 1180px; height: 100px; margin: 0px auto; position: relative;

        h1 {            
            position: absolute; left: 0px; bottom: 30px;

            a {
                font: 24px/1 'Heebo'; 
                font-weight: 700;
                color: #111;
            }
        }

        #gnb {
            position: absolute; bottom: 45%; left: 30%;

            &::after {
                content: ''; display: block; clear:both;
            }

            li {
                float: left;

                a {
                    display: block; 
                    font: 15px/1.6px 'Heebo'; color: #111;
                    font-weight: 700;
                    letter-spacing: -0.5px;
                    margin-right: 40px;
                    text-align: center; transition: .5s;
                }

                // &::before {
                //     content:'';
                //     display: block;
                //     width: 100%;
                //     height: 2px;
                //     background: #111;
                //     position: absolute;
                //     bottom: -15px;
                //     transition: 0.5s;
                // }
            }
        }

        .util {
            position: absolute; top: 40%; right: 0%;

            &::after { content:''; display: block; clear: both;}
            
            li {
                float: left;
                margin-left: 30px;

                a {
                    display: block;

                    &:last-child {
                        font: 14px/1px 'Heebo'; color: #111;
                    }

                    i {
                        font-size: 18px;
                        color: #111;
                    }
                }

                .serch {
                    width: 160px;
                    border-bottom: 1px solid #111;

                    input {
                        width: 130px;
                        font-size: 16px;
                        padding: 5px;
                        border: none;
                        vertical-align: top;
                        margin-left: 0;
                    }
                    a {
                        display: inline-block;
                    }
                    
                }
            }
        }
    }
}